/* Welcome to my stylesheet! */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* General Style for all pages */

body {
    position:relative;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(18, 20, 41);
    line-height: 32px;
    font-size: 150%;
    margin: 30px;
}

a {
    color: #ffffff;
    text-decoration: underline transparent; 
}

.links {
    color: #ffffff;
    text-decoration: underline transparent;
    line-height: 110%;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .25s, font-size .25s ease-in-out;
  }

  .links:hover {
    color: #ffbb00;
    font-size: 110%;
  }

/* Landing Page */

hr {
    width: 500px;
    margin-left: 0;
    margin-top: 20px;
}

h1 {
    margin: 0 -.25rem;
    padding: 0 .25rem; 
}

h3 {
    padding-bottom: 10px;
}

